@import '../../shared/styles/table.css';

.withdraw-amount {
  color: #8b0000;
}

.movement-type {
  display: inline-block;
  padding: 5px 8px;
  border-radius: 5px;
  color: #986d30;
  background: #fff5e5;
  font-size: 9px;
  font-weight: 700;
}

.deposit-type {
  color: #35845d;
  background: #e8f6ef;
}
