<div class="table-scroll">
  <table>
    <thead>
    <tr>
      <th>FECHA Y HORA</th>
      <th>CUENTA</th>
      <th>TIPO</th>
      <th>VALOR</th>
      <th>ESTADO</th>
      <th class="actions-heading">ACCIONES</th>
    </tr>
    </thead>
    <tbody>
      @for (movimiento of movimientos; track movimiento.movimientoId) {
        <tr
          (deleteMovimiento)="deleteMovimiento.emit($event)"
          (editMovimiento)="editMovimiento.emit($event)"
          [busy]="busy"
          [movimiento]="movimiento"
          app-movimiento-row
        ></tr>
      } @empty {
        <tr>
          <td class="empty-state" colspan="6">
            No hay movimientos para mostrar. Registra un depósito o retiro.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
